.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 448px) {
    width: 448px;
  }

  @media screen and (min-width: 733px) {
    width: 733px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
