.page-header {
  padding-top: 32px;
  padding-bottom: 32px;
}

.page-header__container {
  display: flex;
  align-items: center;
}

.page-header__contact {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  margin-left: auto;
  margin-right: 40px;
}

.page-header__contact:hover,
.page-header__contact:focus {
  color: var(--accent-color);
}