.modal-btn {
  min-width: 160px;
  padding: 12px 16px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background-color: transparent;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.modal-btn-theme-light {
  color: #303030;
}

.modal-btn-theme-dark {
  color: #ffffff;
}